body {
    font-family: 'Poppins', sans-serif;
  }

  :root{
    --c1:#bdb799; 
    --c2:#547d6f; 
    --c3:#992b2b; 
    --c4:#28282b; 
    --c5:#687855; 
    --c6:#28282b; 
  }

  body {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
    background: #BDAD99; 
    color: #28282b;
    text-align: center;
  }
  

  .site-header {
    padding: 20px;
  }
  .brand {
    font-size: 2.5rem;
    font-weight: 600;
  }
  

  .panel--intro {
    padding: 60px 20px;
  }
  .panel--intro h1 {
    margin: 0 0 10px;
    font-size: 2rem;
  }
  .panel--intro p {
    max-width: 500px;
    margin: 0 auto 20px;
    line-height: 1.4;
  }
  .panel--intro .cta {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #28282b;
    border-radius: 999px;
    text-decoration: none;
    color: #28282b;
  }
  .intro-logo {
    max-width: 200px;        
    height: auto;
    margin: 0px auto;
    display: block;
  }
  

  .photo {
    display: block;
    margin: 40px auto;       
    max-width: 90%;          
    height: auto;
  }

  main {
    padding-bottom: 250px; 
  }

  .carousel {
    margin-top: 10%;
  }




  /* Desktop styles */
@media (min-width: 1024px) {
  .brand {
    font-size: 7rem;     /* larger logo-style heading */
    font-weight: 700;
    letter-spacing: 2px; /* slight luxury feel */
    margin-top:0px;
  }

  .panel--intro h1 {
    font-size: 3rem;     /* make tagline more proportional */
  }

  .panel--intro p {
    font-size: 1.25rem;  /* smoother paragraph scale */
    line-height: 1.6;
  }

  .intro-logo {
    max-width: 200px;    /* give logo more presence */
  }

  .panel--intro {
    padding-top: 10px;
  }
}